@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: 1em ;
  border-radius: 5px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btnnot {
  background-color: darkred;
  border: 1em;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.modded {
  color: white !important;justify-content: center;text-align: left !important;border-style: hidden;padding-left: device-width;padding-right: 80px;padding-left: 80px;word-wrap: break-word;
}
.skip-nav{
  background: white; 
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  transform: translateY(-170%);
  transition:245ms ease-in
}
.skip-nav:focus {
  transform: translateY(0)
}

/* Darker background on mouse-over */
.btn:hover {
  border-style:hidden;
  background-color: RoyalBlue;
}

.wrap{
	white-space: pre-wrap;
}

.type{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #202020; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #202020; }
}








body {
  background-color: #193066;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}


a:hover { 
	text-decoration: underline;
	color: #57587e;
}
a:link {
	text-decoration: none;
	color: #b4ff9e;
}
a:visited {
	text-decoration: none;
	color: #4e7542;
}
a:active {
	text-decoration: none;
	color: #717171;
}

#black-footer {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000050;
	text-align: center;
	color: #eeeeee;
}

@media only screen and (max-width: 1080px) {
	#black-footer {
	  font-size: 1.25vw;
	}
  }
  
@media only screen and (max-width: 500px) {
	#black-footer {
	  font-size: 3vw;
	}
  }

#black-footer p {
	margin: 0px;
}

#black-footer p:first {
	margin-top: -10px;
}

#black-footer p:last {
	margin-bottom: -10px;
}

.footer-link {
	color: #FFFAFA !important;
	text-decoration: underline !important;
}

code {
	font-family: 'Courier New', Courier, monospace !important;
	color: gray;
	justify-content: start;
	text-align: left !important;
}

@media only screen and (max-width: 1080px) {
	.Title {
	  font-size: 2.5vw;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.Title {
	  font-size: 6vw;
	}
  }


.emojiline {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/heart.png");
	background-position: 0 1.06em;
	background-size: 15px 9px;
}

*, :after, :before{
	box-sizing: border-box;
}
.textborder {
  border-radius: 1px;
  border-color: lightgreen;
  border-style: solid;
  border-radius: 25px;
  color: white !important;
  justify-content: start;
  text-align: left !important;
  padding-left: 80px;
  padding-right: 80px;
 }

.text {
	border-style: hidden;
	border-radius: 25px;
	color: white !important;
	justify-content: start;
	text-align: left !important;
	padding-left: 80px;
	padding-right: 80px;
}

.textnews {
	border-style: hidden;
	border-radius: 25px;
	color: white !important;
	justify-content: start;
	text-align: left !important;
	padding-left: 80px;
	padding-right: 80px;
}

.textnews img {
	justify-content: center;
	text-align: center !important;
}

@media only screen and (max-width: 1080px) {
	.text {
	  font-size: 1.25vw;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.text {
	  font-size: 3vw;
	}
  }

@media only screen and (max-width: 1080px) {
	.textnews {
	  font-size: 3vw;
	  padding-left: 80px;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.textnews {
	  font-size: 4vw;
	  padding-left: 40px;
	}
  }

text {
	border-style: hidden;
	border-radius: 25px;
	color: white !important;
	justify-content: start;
	text-align: left !important;
	padding-left: 80px;
	padding-right: 80px;
}


ul li ul {
	background: orange;
	visibility: hidden;
	opacity: 0;
	min-width: 5rem;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 1rem;
	left: 0;
	display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
  }
  
  ul li ul li {
	clear: both;
	width: 100%;
  }


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each bralso */

/* Facebook */
.fa-twitter {
  color: white;
}

.card {
	margin-left: 15px !important;
	margin-right: 15px !important;
	margin-top: 15px !important;
	margin-Bottom: 15px !important;
	text-align: center !important;
	font-size: 1.4rem !important;
	background-color: #121212;
	color: white;
}

.download-container {
	color: white;
}

.packName {
	background-color: #121212;
	color: white;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

@media screen and (max-width: 420px) {
	body {
		font-size: 25px;
	}
}

@media screen and (max-width: 320px) {
	body {
		font-size: 20px;
	}
}

@media screen and (min-width: 19313px) {
	.card {
		font-size: 1rem !important;
	}
}

@media screen and (max-width: 1000px) {
	.download-container {
		position: fixed;
		width: 240px;
		height: 60px;
		bottom: 160px;
		text-align: center;
	}
	.packName {
		position: fixed;
		width: 240px;
		height: 40px;
		bottom: 75px;
		right: 75.5%;
		text-align: center;
	}
	.row {
		margin-left: 8% !important;
		margin-right: 8% !important;
		justify-content: center;
	}
}

@media screen and (max-width: 1500px) and (min-width: 1001px) {
	.download-container {
		position: fixed;
		width: 120px;
		height: 60px;
		top: 200px;
		right: 40px;
		text-align: center;
	}
	.packName {
		position: fixed;
		width: 120px;
		height: 40px;
		top: 360px;
		right: 40px;
		text-align: center;
	}
	.row {
		margin-left: 8% !important;
		margin-right: 8% !important;
		justify-content: center;
	}
}

@media screen and (min-width: 150771px) {
	.download-container {
		position: fixed;
		width: 240px;
		height: 60px;
		top: 200px;
		right: 40px;
		text-align: center;
	}
	.packName {
		position: fixed;
		width: 240px;
		height: 40px;
		top: 310px;
		right: 40px;
		text-align: center;
	}
	.row {
		margin-left: 8% !important;
		margin-right: 8% !important;
		justify-content: center;
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.nav-item {
	font-family: sans-serif !important;
	color: white !important;
	background-color: transparent !important;
	font-size: 15px;
	margin-right: 10px !important;
}

.nav-item-center {
	justify-content: center;
}

.modal {
	position: fixed;
	width: 600px;
	height: 120px;
	top: 30%;
	left: 35%;
	text-align: center;
	color: black !important;
}

.information_panel {
	color: white !important;
	margin-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 5% !important;
	padding-bottom: 5% !important;
	margin-top: 10% !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	max-width: 100% !important;
	padding-bottom: 5% !important;
}
.boxs {
  all: unset;
  font: 26px system-ui;
  color: #fff;
  height: 200%;
  width: 200%;
  padding: 6px 20px;
}
.information_text {
	text-align: left !important;
	margin-left: 5% !important;
	margin-right: 5% !important
}
.sear {
  background-color: #4654e2;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
	width: 40px !important;
}